<nav class="navbar navbar-dark bg-dark mb-5">
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home</a>
      <a class="nav-item nav-link" href="/journey">Journey</a>
      <a class="nav-item nav-link" href="/contact">Contact</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">
        <i class="fa fa-html5"></i>
      </a>
      <a class="nav-item nav-link" href="#">
        <i class="fa fa-apple"></i>
      </a>
      <a class="nav-item nav-link" href="#">
        <i class="fa fa-linux"></i>
      </a>
      <a class="nav-item nav-link" href="#">
        <i class="fa fa-css3"></i>
      </a>
      <a class="nav-item nav-link" href="#">
        <i class="fa fa-windows "></i>
      </a>
    </div>
  </div>


<!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">How to contact me ?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
         Simply contact me using one of this :<br>
         <br><i class="fab fa-whatsapp" style="font-size:24px;color:green"></i> (+62) 81808024343 <br><i class="fa fa-envelope" style="font-size:24px;color:black"></i> erwin.kurnia@gmail.com
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</nav>
